name: V2ex

on:
  schedule:
    - cron: '0 2 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: yanglbme/v2ex-action@master
        env:
          webhook: ${{secrets.WEBHOOK}}
          count: 6